body {
    background-color: #f1efef;
    font-family: 'Karla';
    font-size: 16px;
}

/* Card Section*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 350px;
    
}

.grid-item {
    padding: 25px;
}

/* Welcome cell */
.welcome {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-column: 1 / span 2;
}

.welcome h2 {
    color: hsl(179, 62%, 43%);
}

.welcome h4 {
    color: hsl(71, 73%, 54%)
}

.welcome p {
    color: hsl(218, 22%, 67%);
}

/* Payment cell */

.payment {
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    line-height: 30px;
}

.payment h3 {
    color: hsl(204, 43%, 93%);
}

.payment p {
    color: hsl(204, 43%, 93%);
}

.payment .one{
    font-size: 36px;
}

.payment .two{
    opacity: 0.5;
}

button {
    background-color: hsl(71, 73%, 54%);
    font-family: 'Karla';
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: hsl(204, 43%, 93%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px 95px;
    outline: none;
}

button:hover {
    color: green;
}

/* About-us cell */

.about-us {
    background-color: hsl(179, 62%, 50%);
    border-bottom-right-radius: 10px;
}

.about-us h3 {
    color: hsl(204, 43%, 93%);
}

.about-us p {
    color: hsl(204, 43%, 93%);
    opacity: 0.8;
}




/* Credentials Section */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  right: 40%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


